<ng-sidebar-container>
  <ng-sidebar [opened]="opened">
      <ul class="menu">
          <li class="burger__li"><a class="burger__a" routerLink="/" (click)='toggleSidebar()'>Главная</a></li>
          <li class="burger__li"><a class="burger__a" routerLink="/event" (click)='toggleSidebar()'>МЕРОПРИЯТИЯ</a></li>
          <li class="burger__li"><a class="burger__a" routerLink="/tourists" (click)='toggleSidebar()'>ТУРИСТАМ</a></li>
          <li class="burger__li"><a class="burger__a" routerLink="/catering" (click)='toggleSidebar()'>КЕЙТЕРИНГ</a></li>
          <li class="burger__li"><a class="burger__a" routerLink="/agency" (click)='toggleSidebar()'>ДЛЯ АГЕНТСТВ</a></li>
      </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
      <button (click)='toggleSidebar()' class="header__burger">
              <div class="menu-icon-line"></div>
      </button>
      <app-navigation></app-navigation>
      <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>