<div class="header__top-box">
    <div class="header__logo"></div>
    <div class="header__box-menu">
        <ul class="header__ul">
            <li class="header__li"><a routerLink="/" class="header__a">Главная</a></li>
            <li class="header__li"><a routerLink="/event" class="header__a">МЕРОПРИЯТИЯ</a></li>
            <li class="header__li"><a routerLink="/tourists" class="header__a">ТУРИСТАМ</a></li>
            <li class="header__li"><a routerLink="/catering" class="header__a">КЕЙТЕРИНГ</a></li>
            <li class="header__li"><a routerLink="/agency" class="header__a">ДЛЯ АГЕНТСТВ</a></li>
        </ul>
    </div>
</div>