<!-- header -->
<div class="header">
    <div class="header__display-box">
        <div class="header__display-cell">
            <div class="header__display-bg">
                <p class="header__display-title">корпоративы</p>
                <p class="header__display-subtitle">Отметьте лучший праздник в лучшем дворце Петербурга!</p>
            </div>
        </div>
        <div class="header__display-cell">
            <div class="header__display-bg">
                <p class="header__display-title">свадьбы</p>
                <p class="header__display-subtitle">Отметьте лучший праздник в лучшем дворце Петербурга!</p>
            </div>
        </div>
        <div class="header__display-cell">
            <div class="header__display-bg">
                <p class="header__display-title">званые вечера</p>
                <p class="header__display-subtitle">Отметьте лучший праздник в лучшем дворце Петербурга!</p>
            </div>
        </div>
    </div>
    <p class="header__title">О РЕСТОРАНЕ</p>
    <div class="header__logo-little"></div>
    <p class="header__subtitle">летний дворец</p>
    <div class="header__video"></div>
    <div class="header__box">
        <div class="header__box-padding">
            <div class="header__logo-big"></div>
            <p class="header__text">Добро пожаловать в Летний Дворец! <br>Всего в 12 километрах от Петербурга, <br>неподалеку от знаменитых фонтанов и парков <br>Петергофа воплощен в жизнь один из самых <br>грандиозных проектов event-индустрии России <br>– ресторанный комплекс «Летний Дворец». <br>Открытый в 2009 году, он объединил под одной <br>крышей современный банкетный зал в <br>исторических дворцовых интерьерах на 800 <br>гостей и собственный кейтеринг.</p>
        </div>
        <div>
            <div class="header__box-padding">
                <div class="header__logo-little1"></div>
                <p class="header__p">площадка</p>
                <div class="header__text">Сочетание классических <br>интерьеров и современных <br>технических возможностей <br>выгодно отличают Летний Дворец <br>от большинства других <br>исторических площадок города.</div>
            </div>
            <div class="header__box-padding">
                <div class="header__logo-little2"></div>
                <p class="header__p">технологии</p>
                <div class="header__text">Возможности «Летнего Дворца» <br>практически безграничны с точки <br>зрения проведения мероприятий <br>самого разного формата и <br>масштаба.</div>
            </div>
        </div>
        <div>
            <div class="header__box-padding">
                <div class="header__logo-little3"></div>
                <p class="header__p">интерьеры</p>
                <div class="header__text">Изысканное внутреннее <br>убранство Летнего Дворца — <br>тонко выполненная стилизация с <br>использованием традиционных <br>технологий и материалов — <br>мрамора, бронзового литья.</div>
            </div>
            <div class="header__box-padding">
                <div class="header__logo-little4"></div>
                <p class="header__p">оборудование</p>
                <div class="header__text">Установлен комплект самого <br>современного звукового <br>оборудования, который приятно <br>удивит даже знатока <br>качественного звука.</div>
            </div>
        </div>
    </div>
</div> 

<!-- gallery -->

<div class="gallery">
    <div class="gallery__box">
        <div class="gallery__flexbox-top">
            <div class="gallery__text">
                <p class="gallery__title">галерея</p>
                <div class="gallery__logo"></div>
                <p class="gallery__subtitle">летний дворец</p>
            </div>
            <div class="gallery__img1"></div>
            <div class="gallery__img2"></div>
        </div>
        <div class="gallery__flexbox-bottom">
            <div class="gallery__img3"></div>
            <div>
                <div class="gallery__img4"></div>
                <div class="gallery__img5"></div>
            </div>
        </div>
    </div>
</div>

<!-- more -->

<div class="more">
    <div class="more__box">
        <p class="more__title">узнайте о нас больше</p>
        <div class="more__box-buttons">
            <button class="more__button-plan"><a href="#">Скачать план</a></button>
            <button class="more__button-present"><a href="#">Скачать презентацию</a></button>
        </div>
    </div>
</div>

<!-- event -->

<div class="event">
    <div class="event__box">
        <div class="event__text-box">
            <p class="event__title">хотите провести <br>мероприятие?</p>
            <p class="event__subtitle">Или у вас остались вопросы, на которые мы сможем вам ответить <br>в процессе разговора - напишите нам. Мы открыты для диалога!</p>
            <div class="event__box-adress">
                <div>
                    <p class="event__adress-title">ресторан</p>
                    <div class="event__flexbox">
                        <div class="event__img"></div>
                        <p class="event__p">Санкт-Петербургское <br>шоссе, д 130, к. 7</p>
                    </div>
                    <div class="event__flexbox">
                        <div class="event__img"></div>
                        <p class="event__p">+7 (812) 210 67 95</p>
                    </div>
                    <div class="event__flexbox">
                        <div class="event__img"></div>
                        <p class="event__p">hello@summerpalace.ru</p>
                    </div>
                </div>
                <div>
                    <p class="event__adress-title">офис</p>
                    <div class="event__flexbox">
                        <div class="event__img"></div>
                        <p class="event__p">ст. м. «Лиговский проспект», <br>ул. Черняховского, д. 75</p>
                    </div>
                    <div class="event__flexbox">
                        <div class="event__img"></div>
                        <p class="event__p">+7 (812) 210 67 95</p>
                    </div>
                    <div class="event__flexbox">
                        <div class="event__img"></div>
                        <p class="event__p">hello@summerpalace.ru</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="event__form-box">
            <input class="event__input-name" type="text" placeholder="Ваше имя">
            <div class="event__line-name"></div>
            <input class="event__input-email" type="text" placeholder="Ваш e-mail">
            <div class="event__line-email"></div>
            <textarea class="event__textarea" placeholder="Сообщение"></textarea>
            <button class="event__button"><a href="#">отправить</a></button>
        </div>
    </div>
</div>

<!-- instagram -->

<div class="instagram">
    <p class="instagram__title">наш instagram</p>
    <div class="instagram__logo"></div>
    <p class="instagram__subtitle">летний дворец</p>
    <div class="instagram__box">
        <div class="instagram__img"></div>
        <div class="instagram__img blue"></div>
        <div class="instagram__img"></div>
        <div class="instagram__img blue"></div>
        <div class="instagram__img"></div>
        <div class="instagram__img blue"></div>
    </div>
</div>

<!-- footer -->

<div class="footer">
    <div class="footer__box">
        <p class="footer__p">Copyright (с) 2019 Ресторан “Летний дворец”</p>
        <p class="footer__p">Facebook — Vkontakte — Instagram</p>
    </div>
</div>